body {
  font-family:courier;
  font-size:13px;
  width: 680px;
  margin-left:auto;
  margin-right:auto;
  text-align: justify;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  border-bottom:none;
}

p a {
  border-bottom:1px solid black;
  text-decoration:none;
}

h1 {
  font-size: 46px;
  line-height:46px;
  font-weight:normal;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:5px;
  margin-bottom:0px;
  padding: 0;
}

h2 {
  font-size: 16px;
  font-weight:normal;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  margin-top:8px;
  margin-bottom:2px;
  padding: 0;
}

h2 a {
  text-decoration:none;
}

h2 a:hover {
  border-bottom: 1px solid black;
}

p {
  margin:0;
}

.strapline {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  padding:0;
  margin:0;
}

.header {
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

.footer {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  padding-top: 8px;
  border-top:1px solid black;
  height: 20px;
}

.footer a:hover {
  border-bottom:1px solid black;
}

.grid {
  height: 380px;
  margin-left:auto;
  margin-right:auto;
}

.grid-element {
  height: 340px;
  width: 300px;
  margin: 20px;
  float:left;
}

.grid-element.project {
  margin-left: auto;
  margin-right: auto;
  float: center;
}

a:hover .grid-element.main {
  border: 1px black solid;
  margin: 19px; /* to compensote for push down of border */
}

.project-links {
  text-align: center;
}