body {
  font-family:courier;
  font-size:13px;
  width: 616px;
  margin-left:auto;
  margin-right:auto;
  text-align: justify;
}

a {
  color: black;
}

a:hover {
  border-bottom:none;
}

p a {
  border-bottom:1px solid black;
  text-decoration:none;
}

h1 a {
  text-decoration:none;
}

h1 {
  font-size: 46px;
  font-weight:normal;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:5px;
  margin-bottom:2px;
  padding: 0;
}

h2 {
  font-size: 16px;
  font-weight:normal;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:10px;
  margin-bottom:2px;
  padding: 0;
}

h2 a {
  text-decoration:none;
}

h2 a:hover {
  border-bottom: 1px solid black;
}

p {
  margin:0;
}

.strapline {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin:0;
}

.footer {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  padding-top: 5px;
}

.footer a {
  border-bottom:1px solid black;
  text-decoration:none;
}

.footer a:hover {
  border-bottom: none;
}

.grid {
  height: 365px;
  margin-left:auto;
  margin-right:auto;
}

.grid-element {
  height: 300px;
  width: 300px;
  margin: 16px 0;
  float:left;
}

.grid-element.left {
  margin-right: 8px;
}

.grid-element.right {
  margin-left: 8px;
}

canvas {
  border: 1px black solid;
}
